/* Custom tooltip style */
.tooltip{
	font-size: 10px;
}
.tooltip-inner {
	max-width: 250px;
	padding: 2px 8px;
	color: #fff;
	text-align: justify;
	background-color: #000;
	border-radius: 4px;
}
.tooltip-arrow {

}
